body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #7D499B;
}

h1 {
  font-size: 5vh;
  margin-bottom: 16px;
  color: white;
}

#minInput, #maxInput {
  font-size: 2vh;
  margin-bottom: 8px;
  padding: 4px;
}

#result {
  font-size: 2vh;
  margin-bottom: 8px;
  padding: 4px;
  color: white;
}

#generateButton {
  font-size: 2vh;
  padding: 8px 16px;
}

.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  padding: 10px;
  font-size: 2vh;
}

.body {
  padding: 200px 0;
}

.language-selector {
  position:absolute;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  top:15px;
  text-align:right;
  right:10px;
  list-style:none;
  cursor:pointer;
  padding:0 2px;
}

.language1{
  text-decoration: line-through;
  color: white;
  font-size: 2vh;
}

.language2{
  text-decoration: none;
  color: white;
  font-size:2vh;
}
